h1{
    background-color: black;
    color: darkorange;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s ease;
}
.container {
    background-color: cadetblue;
    color: #0056b3;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    text-align:center;
}

input[type="text"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
button {
    padding: 8px 16px;
    background-color: darkblue;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: #0056b3;
}
.card {
    display:flex;
    align-items:center;
    background-color:aliceblue;
    border: radius 20px;;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card img {
    width: 200px;
    height:fit-content;
    margin-right: 20px;
}